.home-page .page-content
	background-image: url('/assets/img/bg.jpg')
	background-size: cover
	background-repeat: no-repeat
	background-attachment: fixed
	background-position: center
	section
		padding: 25px 0px

#home-main
	height: 800px
	h1
		padding-top: 480px
		color: white

#home-intro
	background-color: white
	.container
		padding: 25px 15px
	
#home-portfolio
	height: 400px

#home-blog
	background-color: white
	
#home-goal
	background-color: white

.subtitle
	line-height: 0.5
	span
		display: inline-block
		position: relative
		a
			padding: 0px 10px
			color: white
			font-size: 14pt
	span:before, span:after
		content: ""
		position: absolute
		height: 5px
		border-bottom: 1px solid white
		border-top: 1px solid white
		top: 0
		width: 300px
	span:before
		right: 100%
		margin-right: 15px
	span:after
		left: 100%
		margin-left: 15px

.home-cat
	display: flex
	flex-wrap: wrap
	.home-catblock
		margin: 25px
		flex: 1
		h2
			text-decoration: underline
			font-size: 22pt
		a
			color: #111
