---
---

@import "{{ site.theme }}";
@import "home";

html{
	height: 100%;
	overflow-x: hidden;
}

body{
	height: 100%;
	display: flex;
	flex-direction: column;
}

.page-content{
	flex: 1 0 auto;
}

footer{
	flex-shrink: 1;
}

.text-center{
	text-align: center;
}

h1{
	font-size: 32pt;
}

.container{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	padding: 0px 15px;
}
@media (min-width: 576px) {
	.container{
		max-width: 540px;
	}
}

// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.container{
		max-width: 720px;
	}
}

// // Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.container{
		max-width: 960px;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.container{
		max-width: 1140px;
	}
}