---
layout: default
---

<div class="page-blog">
  <h1 class="text-center">Garik Khachatryan's Blog</h1>

  {{ content }}

  {%- if site.posts.size > 0 -%}
      {%- for sitePosts in site.posts -%}
      <div class="blog-post">
        {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
        <h2>{{ sitePosts.title }}</a></h2>
        <i>Category: 
          {% for category in sitePosts.categories %}
              <a href="/category/{{category | slugify }}">
                {{ category | capitalize }}{% if forloop.last == false %},{% endif %} 
              </a>
          {% endfor %} - Published {{ sitePosts.date | date: date_format }}</i>
          <span class="blog-excerpts">{{ sitePosts.excerpt }}</span>
          <a href="{{ sitePosts.url | relative_url }}"><button class="more_btn">Read More</button></a>
        <hr />
      </div>
      {%- endfor -%}

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
{%- endif -%}

</div>