---
layout: default
---

<div class="page-blog">
  {%- if page.title -%}
    <h1>{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
      {%- for post in site.posts -%}
        {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
        <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
        <i>Category: 
          {% for category in post.categories %}
              <a href="/category/{{category | slugify }}">
                {{ category | capitalize }}{% if forloop.last == false %},{% endif %} 
              </a>
          {% endfor %} - Published {{ post.date | date: date_format }}</i>
          <span class="blog-excerpts">{{ post.excerpt }}</span>
      {%- endfor -%}

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
{%- endif -%}

</div>