<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="home-page">

    <main class="page-content" aria-label="Content" style="padding:0;">
      <section id="home-main" class="text-center">
        <h1>Garik Khachatryan</h1>
        <p class="subtitle"><span><a href="/assets/resume.pdf" target="_blank">Resume</a><a href="/blog">Blog</a></span></p>
      </section>
      <section id="home-intro" class="text-center">
        <div class="container">
          <h1>About Me</h1>
          <p>I am currently a Software Engineering undergraduate student of University of California, Irvine (UCI). I plan to graduate with a bachelors of Software Engineering in March of 2020. Since Fall 2017, I have been working in the Learning and Academic Resource Center (LARC) at UCI as a Tutorial Leader for the second introductory computer science course.</p>
        </div>
      </section>
      <section id="home-portfolio">
        <h1 class="text-center">Academics &amp; Portfolio</h1>
        <div class="home-port">
          <div class="port-block">
            <img src="/assets/img/home/python.png" alt="Python" width="200" height="200" /> 
            <span class="port-details text-center">
              <ul>
                <li>ICS 31 - Introduction to Programming</li>
                <li>ICS 32 - Programming with Software Libraries</li>
                <li>ICS 33 - Intermediate Programming</li>
              </ul>
            </span>
          </div>

          <div class="port-block">
            <img src="/assets/img/home/c.png" alt="C++" width="200" height="200" /> 
            <span class="port-details text-center">
              <ul>
                <li>ICS 45C - Programming in C/C++</li>
                <li>ICS 46 - Data Structures &amp; Algorithms</li>
                <li>[C/Assembly] ICS 51 - Computer Organization</li>
              </ul>
            </span>
          </div>

          <div class="port-block">
            <img src="/assets/img/home/web.png" alt="Front End Web Design" width="200" height="200" /> 
            <span class="port-details text-center">
              <ul>
                <li>HTML/CSS - Basic Web Design</li>
                <li>JavaScript - Front-End Development</li>
                <li>INF 131 - Human-Computer Interaction &amp; Usability</li>
              </ul>
            </span>
          </div>

          <div class="port-block">
            <img src="/assets/img/home/react.png" alt="JavaScript Libraries" width="200" height="200" /> 
            <span class="port-details text-center">
              <ul>
                <li>ReactJS - Front-End Development</li>
                <li>AngularJS - Hybrid Web Application</li>
              </ul>
            </span>
          </div>

          <div class="port-block">
            <img src="/assets/img/home/rmatlab.png" alt="Logic/Math - MatLab/R" width="200" height="200" /> 
            <span class="port-details text-center">
              <ul>
                <li>ICS 6B/D/N - Boolean Algebra &amp; Logic</li>
                <li>STATS 67 - CS Probability &amp; Statistics</li>
              </ul>
            </span>
          </div>

          <div class="port-block">
            <img src="/assets/img/home/cms.png" alt="Content Management Systems" width="200" height="200" /> 
            <span class="port-details text-center">
              <ul>
                <li>WordPress - Web Design &amp; E-Commerce</li>
                <li>Jekyll - Blogging (This Website!)</li>
                <li>Shopify - E-Commerce &amp; Apps</li>
              </ul>
            </span>
          </div>
        </div>
      </section>
      <section id="home-blog">
        <div class="container">
          <h1 class="text-center">Blogging</h1>
          <p class="text-center">I was recently encouraged by a close friend of mine to begin blogging as a method for documenting and sharing my thoughts and passions. As I spend much of my time with coursework, I expect some of the categories to be based on concepts observed from class. I found that many courses, as expected with large classes and 10-week periods, focus more on the technicalities and semantics rather than the practical applications. I feel as though my coursework is not complete without either an application or observation of practical and real world experiences; and document this journey through these posts. </p>
          <div class="home-cat">
            {% for category in site.categories %}
              <div class="home-catblock" id="{{ category | first | remove:' ' }}">
                <a href="/category/{{category | first | slugify }}"><h2 class="text-center">{{ category | first | capitalize_all }}</h2></a>
                 {% for posts in category %}
                   {% for post in posts limit:1 %}
                     {% if post.url %}
                      <a href="{{ post.url }}">
                        <h3>{{ post.title }} </h3>
                        <time>{{ post.date | date: "%-d %B %Y" }}</time> 
                      </a><hr/>
                      <span class="catblock-excerpt">
                        {{ post.excerpt }}
                      </span>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>

      </section>
      <section id="home-goal">
        <div class="container">
        </div>
      </section>
        {{ content }}
    </main>

    {%- include footer.html -%}

  </body>

</html>